.root {
  width: 90vw;
  height: 70vh;
  position: fixed;
  top: 20vh;
  left: 5vw;
  background-color: #ffffff;
}
.div0-breSearchCardPart-style {
  border-radius: 25px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  left: 5vw;
  width: 90vw;
  height: 70vh;
}
.div1-breSearchCardPart-style {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  font-size: 2.5vh;
  margin-left: 3vw;
}
.div2-breSearchCardPart-style {
  display: grid;
  margin: 2vh 4vh 2vh 2vh;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: center;
  height: 60vh;
}
.button0-breSearchCardPart-style {
  border: 1px solid black;
  background-color: #ff0000;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer; // Change the cursor when hovering over the button
  transition: background-color 0.3s; // Add a smooth transition effect when hovering

  &:hover {
    background-color: rgba(151, 2, 2, 0.215);
  }
}
.button1-breSearchCardPart-style {
  border: 1px solid black;
  background-color: #20d349;
  font-size: 1vw;
  cursor: pointer; // Change the cursor when hovering over the button
  transition: background-color 0.3s; // Add a smooth transition effect when hovering

  &:hover {
    background-color: rgba(20, 151, 2, 0.215);
  }
}
