.root {
}
.div0-AdminHistoryBodyPart-style {
  width: 100vw;
  font-size: auto;
  height: 85vh;
  margin-top: 0vw;
  margin-right: 0vw;
  position: fixed;
  top: 15vh;
  left: 0px;
  background-color: #ffffff;
}
.img-AdminHistoryBodyPart-style {
  width: 3vw;
}
.div1-AdminHistoryBodyPart-style {
  margin: 0vw;
  width: auto;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 3vw;
}
.span-AdminHistoryBodyPart-style {
  display: flex;
  align-items: center;
  margin: 1vw;
}
.a-AdminHistoryBodyPart-style {
  margin: 1vw;
  font-size: 2vw;
}
.div2-AdminHistoryBodyPart-style {
  margin: 1vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
}
