.root {
}
.div-AdminEditPagePart-style {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
}
.div2-AdminEditPagePart-style {
  display: grid;
  grid-template-columns: 1fr 0fr;
}
.button1-AdminEditPagePart-style {
}
.button2-AdminEditPagePart-style {
}
