[Unit]
Description=Service for bre-react-app build
After=network.target

[Service]
Type=simple
ExecStart=serve -n /home/grem/bre-react-app/build
User=grem
Restart=always

[Install]
WantedBy=multi-user.target