.root {
  background-color: white;
}
.span-StatusLightPart-style {
  padding: 0vw 1vw;
  margin: 0vw 0vw 0vw 1vw;
  color: #54bb28;
  border-radius: 50%;
  background-color: #00ff00;
}

.span-StatusLightPart-style2 {
  padding: 0vw 1vw;
  margin: 0vw 0vw 0vw 1vw;
  color: #54bb28;
  border-radius: 50%;
  background-color: #FF0000;
}

.div-StatusLightPart-style {
  margin: 0vw 0vw 0vw 0vw;
  padding: 1vw;
  background-color: #043124;
  color: #f5efef;
  font-size: 3vh;
}

