.root {
}
.div0-AdminEditHeaderPart-style {
}
.div0-AdminEditBodyPart-style {
  display: grid;
  width: 1024px;
  height: 544px;
  align-items: start;
  justify-items: stretch;
  align-content: start;
}
.tr-AdminEditTableHeaderPart-style {
  border: 5px solid black;
  border-radius: 5px;
  outline: initial;
}
.tbody-AdminEditBodyPart-style {
  border: 20px solid black;
}
.th-AdminEditBodyPart-style {
  border: 3px solid #043927;
}
