.root {
}
.div0-AdminEditHeaderPart-style {
}
.div0-AdminEditBodyPart-style {
  display: grid;
  width: 100vw;
  align-items: start;
  justify-items: stretch;
  align-content: start;
  position: fixed;
  top: 15vh;
  left: 0px;
  height: 85vh;
  background-color: #ffffff;
}
.tr-AdminEditTableHeaderPart-style {
  border: 5px solid black;
  border-radius: 5px;
  outline: initial;
}
.tbody-AdminEditBodyPart-style {
  border: 20px solid black;
}
.th-AdminEditBodyPart-style {
  border: 3px solid #043927;
}
