.root {
}
.div0-AdminEditHeaderPart-style {
}
.div0-AdminEditBodyPart-style {
  display: grid;
  align-items: start;
  justify-items: stretch;
  align-content: start;
  top: 15vh;
  left: 0px;
  background-color: #ffffff;
}
.table-AdminEditBodyPart-style {
  grid-auto-flow: row;
  width: 100vw;
  height: 85vh;
}
.tr-AdminEditBodyPart-style {
  display: grid;
  grid-auto-flow: column;
  border: 1px solid black;
  justify-items: center;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}
