.root {
}
.div0-AdminHistoryHeaderPart-style {
  width: 100vw;
  background-color: #0d3623;
  margin: 0vh;
  height: 13vh;
}
.div1-AdminHistoryHeaderPart-style {
  width: 100vw;
  height: 2vh;
  background-color: #c0b385;
  margin-bottom: 0vh;
}
.span-AdminHistoryHeaderPart-style {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.h1-AdminHistoryHeaderPart-style {
  margin: 2vw;
  font-size: 4vw;
  color: #ffffff;
}
.span1-AdminHistoryHeaderPart-style {
  margin: 2vw;
  font-size: 2.5vw;
  color: #ffffff;
}
.button-AdminHistoryHeaderPart-style {
  font-size: 1.25vw;
  color: #ffffff;
  background-color: #0d3623;
  border: 0px solid black;
}
.select-AdminHistoryHeaderPart-style {
  min-width: 0px;
  font-size: 1.25vw;
  color: #ffffff;
  background-color: #0d3623;
  border: 0px solid black;
}
