.root {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
}
.div0-breSearchPagePart-style {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  top: 0px;
  left: 0px;
}
.div1-breSearchPage-style {
  font-size: 3vh;
  padding: 2vh;
}
.button-breSearchPagePart-style {
  width: 4vw;
  height: 4vw;
  border: 1px solid black;
  background-color: #ff0000;
  border-radius: 10px;
  margin: 5vw;
  cursor: pointer; // Change the cursor when hovering over the button
  transition: background-color 0.3s; // Add a smooth transition effect when hovering

  &:hover {
    background-color: rgba(151, 2, 2, 0.215);
  }
}
