.root {
  width: 100vw;
  height: 85vh;
}
.div0-AdminPanelBodyPart-style {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  height: 100%;
  align-items: center;
}
.div1-AdminPanelBodyPart-style {
  width: 22vw;
  height: 38vh;
  background-color: #c4b581;
  border-radius: 3vh;
  box-shadow: 3.54px 3.54px 15px black;
  display: grid;
  justify-items: center;
  align-items: start;
}
.button-AdminPanelBodyPart-style {
  width: 20vw;
  height: 6vh;
  margin-bottom: 1vh;
  border: 2px solid black;
  border-radius: 1vw;
  font-size: 3vh;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e5d496;
  }
}
.div2-AdminPanelBodyPart-style {
  display: grid;
  grid-auto-flow: row;
}
