.root {
}
.div0-AdminUserHeaderPart-style {
  width: 100vw;
  height: 15vh;
  background-color: #0d3623;
  position: relative;
}
.div1-AdminUserHeaderPart-style {
  width: 100vw;
  height: 2vh;
  background-color: #c0b385;
}
.span-AdminUserHeaderPart-style {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.h1-AdminUserHeaderPart-style {
  margin: 2vw;
  color: #ffffff;
  font-size: 4vw;
}
.button-AdminUserHeaderPart-style {
  color: #ffffff;
  background-color: #0d3623;
  font-size: 1.25vw;
  border: 1px solid #0d3623;
  cursor: pointer;
  transition: background-color 0.3s; // Add a smooth transition effect when hovering

  &:hover {
    background-color: #145134;
  }
}
.span1-AdminUserHeaderPart-style {
  color: #ffffff;
  margin: 2vw;
  font-size: 2.5vw;
}
.select-AdminUserHeaderPart-style {
  font-size: 1.25vw;
  color: #ffffff;
  border: 0px solid black;
  background-color: #0d3623;
  text-align: center;
}
