.root {
}
.RootLoginRibbon {
  background-color: #043124;
  height: 15vh;
  width: 100vw;
  color: #ffffff;
  display: grid;
  grid-auto-flow: column;
}
.LoginRibbonH1 {
  width: auto;
  margin-left: 20px;
  align-self: center;
  font-size: 40px;
}
.LoginRibbonBtn {
  margin: 30px;
  background-color: #fde89b;
  font-size: 25px;
  border: 0px solid #fde89b;
  font-weight: 600;
}
