[Unit]
Description=Service for BRE appication
Documentation=http://doc.BRE.com https://doc.BRE.com file:///usr/shared/doc/BRE
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/App.tsx start
ExecStop=/usr/local/bin/App.tsx stop
User=BRE
Group=BRE
Restart=always

[Install]
WantedBy=multi-user.target