.root {
  margin-top: 15vh;
}
.div-breSearchTablePart-style {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 85vh;
}
.table-breSearchTablePart-style {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  width: 100%;
  height: 100%;
  gap: 1px;
}
.tr-breSearchTablePart-style {
  display: grid;
  grid-template-columns: 14% 23% 23% 16% 10% 14%;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
}
.button-breSearchTablePart-style {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: #20d349;
  border-radius: 0.5vh; // Add a border-radius to give a better appearance
  cursor: pointer; // Change the cursor when hovering over the button
  transition: background-color 0.3s; // Add a smooth transition effect when hovering

  &:hover {
    background-color: rgba(20, 151, 2, 0.215);
  }
}
