.root {
  width: 100vw;
}
.exit-preview-button {
}
.exit-preview-button {
  width: 3vw;
  height: 5vh;
  border-radius: 10px;
  background-color: #fb0808;
  margin-left: 3vw;
  border: 1px solid #f51717;
}
.more-info-button {
  margin-left: 1vw;
  width: 6vw;
  background-color: #20d349;
  text-align: center;
}
