.root {
  width: 100vw;
}
.exit-preview-button {
}
.exit-preview-button {
  width: 3vw;
  height: 5vh;
  border-radius: 10px;
  background-color: #fb0808;
  margin-left: 3vw;
  border: 1px solid #f51717;
}
.more-info-button {
  width: 6vw;
  background-color: #20d349;
  text-align: center;
}
.button-div {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  margin-top: 2vh;
  margin-right: 2vw;
  margin-bottom: 2vh;
}
