.root {
}
.div0-AdminEditBodyPart-style {
  width: 1024px;
  height: 85px;
  background-color: #043927;
}
.div1-AdminEditBodyPart-style {
  align-self: center;
  display: block;
  color: #fff;
  font-size: 35px;
  text-align: center;
}
.div2-AdminEditBodyPart-style {
  align-self: center;
  text-align: center;
  margin: 1px;
  padding: 1px;
  border: 0px solid black;
}
.input-AdminEditBodyPart-Style {
  width: 500px;
  height: 25px;
  margin: 1px 10px 1px 1px;
  border-radius: 10px;
}
.btn-AdminEditBodyPart-style {
  align-self: center;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 1px;
}
