.root {
  position: fixed;
  top: 0;
}
.div0-breSearchHeaderPart-style {
  width: 100vw;
  height: 110px;
  background-color: #0d3623;
  color: #ffffff;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  align-content: start;
}
.span-breSearchHeaderPart-style {
  font-size: 50px;
}
.div1-breSearchHeaderPart-style {
  display: flex;
  margin: 6px;
  height: 25px;
}
.button-breSearchHeaderPart-style {
  background-image: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 0%);
  background-color: transparent;
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  border: 1px solid;
  border-image: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 0%) 1 / 1px stretch;
  border-width: 1px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.img-breSearchHeaderPart-style {
  width: 100%;
  height: 100%;
}
.input-breSearchHeaderPart-style {
  width: 50vw;
}
.select-breSearchHeaderPart-style {
  background-color: #2b932b;
  width: 90px;
  cursor: pointer;
}

.div2-breSearchHeaderPart-Toggle {
  position: absolute;
  left: 50px;
  font-style: italic;
  font-weight: 500;
  text-align: start;
  direction: ltr;
  bottom: 14px;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  justify-items: center;
}
.button-breSearchHeader-viewChange {
  text-align: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.image-BreSearch-changeView {
  width: 20px;
  color: #b43636;
}
